<section id="one" class="wrapper style1">

  <div class="image fit">
    <video autoplay width="100%" >
      <!-- <source src="assets/video/pagetop.mp4" type="video/mp4"> -->
    </video>
  </div>

  <!-- Toptile title -->
  <header class="special">
    <h2>Levende Eventyr & Fantasi</h2>
    <p>Bordrollespil siden 1986</p>
  </header>

  <!-- Toptile cardgrid -->
  <div class="content">

    <table>
      <tr>
        <td style="vertical-align: middle;">
          <div class="article">
            <img src="assets/images/lefbogen.png" width="100%" alt=""/>
          </div>
        </td>
        <td><div class="article">LEF er et co-op rollespil, hvor karakterernes evner og effekter supplerer hinanden, så du sammen med de andre karakterer kan håndtere situationer, din karakter umuligt kan gennemføre alene.</div></td>
        <td><div class="article">VALHEL er en helstøbt steam og biopunk-verden, hvor de fleste typer af kampagner og temaer kan udspille sig i, hvad enten historien handler om kærlighed, drama, eventyr, socialrealisme, gys eller krig.</div></td>
        <td><div class="article">KARAKTEREN kan udvikle sig i flere retninger og med kombinationen af grej og oplærte effekter fra blodarv, personlighed, dannelser og evner, sikres et utal af kombinationer, til at designe din karakter.</div></td>
      </tr>
    </table>

  </div>

</section>


  <!-- Basetile -->
  <section id="three" class="wrapper">

    <div class="spotlight alt">
      <div class="image flush"><img src="assets/images/pic08.jpg" alt="" /></div>
      <div class="inner">
        <h3>Karakterskema</h3>
        <p>Karakteren adminstreres på et karakterskema, som gør det let at overskuelig. Det er altid smart at have karakterskemaet fremme, når man læser reglerne.</p>
        <a href="#" class="button">Karakterskema</a>
      </div>
    </div>

    <div class="spotlight">
      <div class="image flush"><img src="assets/images/pic09.jpg" alt="" /></div>
      <div class="inner">
        <h3>Historier</h3>
        <p>Du kan altid skrive dine egne historier og spille dem med dine venner. men du kan også hente historier fra lefnet.dk, de kan spilles som de er eller de kan bruges til inspiration. Der findes en række gratis historier, som er gode til at starte med, for at fornemme den stemning, der summer over LEF og valhel; en sursød og bitter fornemmelse, forsødet med lidt held og succes. Intet er så godt, at det ikke også er skidt, eller intet er så skidt, at det ikke er godt for noget. Du  både gratis historier og historie du skal betale for via mobilpay. </p>
        <a href="#" class="button special">Historier</a>
      </div>
    </div>

    <div class="spotlight alt">
      <div class="image flush"><img src="assets/images/pic06.jpg" alt="" /></div>
      <div class="inner">
        <h3>Atlas</h3>
        <p>Kloden kaldes Ur og Urlandet er det største af de to kontinenter, der findes på kloden, hundredeoghalvtres gange større end det mindre kontinent, Antikkien. Valhel og Suborien er to verdensdele på Urlandets østlige kystland. Valhel strækker sig firetusind kilometer fra De hvide marker i nord til floderne Lobomo og Nefer Nefer Nefer i syd. Her begynder Suborien og strækker sig femtusind kilometer, helt til Flamme ørkenen. Her kan du se kort fra alverdens steder i Valhel.</p>
        <a href="#" class="button">Atlas</a>
      </div>
    </div>

    <div class="spotlight">
      <div class="image flush"><img src="assets/images/pic07.jpg" alt="" /></div>
      <div  class="inner">
        <h3>Leksikon</h3>
        <p>Valhel blev skabt af Jacob Octavius Jarlskov, men er blevet udviklet af alverdens spillere gennem mere end 30 år. På den måde har Valhel gennemlevet sin udvikling til nyere tider og er blevet en grundigt gennemarbejdet verden med en tekstrig baggrundshistorie. I leksikonet kan du læse alt om Valhel; verdenshistorien, staterne, organisationerne, dæmonerne, de største personligheder, sagn og meget mere.</p>
        <a href="#" class="button special">Leksikon</a>
      </div>
    </div>

  </section>
